.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 1px solid red;
}
.gamePlay {
  display: flex;
  flex-direction: column;
  font-size: 2em;
  border: 1px solid var(--dark);
  margin: 40px;
  padding: 40px;
  width: 400px;
}
.board {
  display: grid;
  width: 500px;
  height: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.square {
  border: 1px solid var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light);
  font-size: 4em;
}
.reset {
}
