@import url("https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap");
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  gap: 60px;
  max-width: 800px;
}
.board {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 400px;
  height: 400px;
  background-color: var(--dark);
}
.board.game-over {
  background-color: white;
}
.square {
  background-color: var(--light);
  border: none;
  padding: 0;
}
.square.winner-declared {
  background-color: rgb(152, 251, 152);
}
.square:disabled {
  font-family: "Original Surfer", "Arial", "Helvetica Neue", sans-serif;
  color: var(--dark);
  font-size: 6em;
}
.game-play {
  display: flex;
  flex-direction: column;
  font-size: 2em;
  border: 1px solid var(--dark);
  border-radius: 20px;
  padding: 40px;
  width: 400px;
}
.reset {
  background: var(--dark);
  color: var(--light);
  text-transform: uppercase;
  border-radius: 20px;
  padding: 10px 0;
  width: 50%;
  margin: 10px auto 0;
}

/* TABLETS */
@media screen and (max-width: 1080px) {
  .square:disabled {
    font-size: 4em;
  }
}

/* MOBILE PHONES */
@media screen and (max-width: 767px) {
  .App {
    max-width: 100%;
  }
  .board {
    width: 350px;
    height: 350px;
  }
  .square {
    max-width: 110px;
  }
  .square:disabled {
    font-size: 2em;
  }
  .game-play {
    width: 100%;
    padding: 40px 0;
    font-size: 1.4em;
  }
}
